<div #cover id="cover" class="container" >
    <!-- <div class="row">
        <div class="col-6 text-center">asdsad</div>
        <div class="col-6 text-center">asdasd</div>
    </div> -->
    <div class="row">
        <div class="col-12 text-center">
            <mat-form-field>
                <mat-label>Graveyards</mat-label>
                <mat-select (selectionChange)="changeGraveyard($event)">
                    <mat-option *ngFor="let graveYard of allGraveYards" [value]="graveYard.friedhofId">
                        {{graveYard.friedhof}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
       

    </div>
    <!-- <div id="show_hide_btn" (click)="showHideRightPanel()">
        <svg #arrowbtn id="arrow-btn" class="bi bi-chevron-right shadow-sm " width="32" height="32" viewBox="0 0 20 20"
            fill="white" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                clip-rule="evenodd" />
        </svg>
    </div> -->
    <div class="row">
        <div class="text-danger">
            <small>{{errorMessage}}</small>
        </div>
        
    </div>
    <!-- <p><small>Select grave or grave plots to view info</small></p> -->

    <div class="row" id="collapsible">
        <div class="col-lg-12 col-sm-12 text-center">
            <div id="availableGraves" class="collapse" >
                <p><strong>Available graves: </strong> {{totalAvailableGraves}}</p>
                <mat-slide-toggle (change)="expiredGraves($event)">Expired Graves</mat-slide-toggle>
            </div>
            <!-- <ng-template [ngIf]="totalAvailableGraves>0">
                <p><strong>Available graves: </strong> {{totalAvailableGraves}}</p>
                <mat-slide-toggle (change)="expiredGraves($event)">Expired Graves</mat-slide-toggle>
            </ng-template> -->
        </div>
        <div class="col-lg-12 col-sm-12 text-center">
            <div id="availableGravePlots" class="collapse" >
                <p><strong>Available grave plots: </strong>{{totalAvailableGravePlots}}</p>
                <mat-slide-toggle (change)="deceasedPersons($event)">Deceased Person</mat-slide-toggle>
            </div>
            <!-- <ng-template [ngIf]="totalAvailableGravePlots>0">
                <p><strong>Available grave plots: </strong>{{totalAvailableGravePlots}}</p>
                <mat-slide-toggle (change)="deceasedPersons($event)">Deceased Person</mat-slide-toggle>
            </ng-template> -->
        </div>
    </div>
    <!-- <div #demo id="demo" class="collapse">
        Lorem ipsum dolor text....
    </div> -->



    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <button class="btn btn-success" (click)="getAllAvailableGraves()">
                <span *ngIf="graveDownloadInProgress"  class="fa fa-spinner fa-spin" role="status" aria-hidden="true"></span>
                Available Graves
            </button>
        </div>
        <div class="ol-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
            <button class="btn btn-success" (click)="getAllAvailableGravePlots()">
                <span *ngIf="gravePlotDownloadInProgress"  class="fa fa-spinner fa-spin" role="status" aria-hidden="true"></span>
                Available GravePlots
            </button>
        </div>
    </div>

    
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-danger" (click)="resetMap()"><i class="fa fa-refresh" aria-hidden="true"></i>
                Reset Map</button>

        </div>
       

    </div>






</div>

<div class="map-container" id="map"></div>


