.map-container {
    width: inherit;
    height: 100vh;
    z-index: 1;
    position: absolute;
    overflow: hidden;
  }

  div#cover {
    position: relative;
    top: 80px;
    right: 0px;
    z-index: 2;
    float: right;
    padding: 20px;
    max-width:  450px;
    min-height: 220px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,.5), 0 10px 50px 5px rgba(0,0,0,.25), inset 1px 1px 0 rgba(255,255,255,.3);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



.btn-success{
    margin-top: 2%;
    margin-right: 2%;
    width: 190px;
}
.btn-danger {
    margin-top: 5%;
    // margin-right: 2%;
}

#collapsible {
    margin-bottom: 2%;
}
