/* You can add global styles to this file, and also import other style files */


html {
    width: 100% !important;
    padding: 0%;
}

body {
    background: linear-gradient(#F3F3F3 100%, #F5F5F5 0%);
    margin: 0%;
    overflow: hidden !important;
    background-repeat: no-repeat;
    color: #43425D !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
